# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# ChromaDB
# ==============================
data/chroma_db/

# ==============================
# Streamlit
# ==============================
.streamlit/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp

data/documents/3M_2021_10K.pdf